<section class="user-info section" fill-color="#8F8F8F">
  <ul class="user">
    <li class="avatar"> <%= image_tag(@twitter_profile.avatar_url, class: "avatar") %> </li>
    <li class="name">  <%= @twitter_profile.name %> </li>
    <li class="login"> @<%= @twitter_profile.username %> </li>
    <li class="description lightweight-small"> <%= @twitter_profile.description %> </li>
    <% if @twitter_profile.location %>
      <div class="additional-user-info top-border">
        <li class="location lightweight-small"> <i class="fas fa-map-marker-alt"></i> </i><%= @twitter_profile.location %> </li>
      </div>
    <% end %>
  </ul>
  <div class="personality-profile-buttons">
    <%= link_to "Return to Dashboard", dashboard_path, class: "btn personality-profile-btn" %>
    <% unless @personality_profile.error_message %>
      <%= link_to "Delete Profile and Return to Dashboard", "#{request.path}", method: :delete, class: "btn personality-profile-btn", data: {confirm: "Are you sure you want to delete this profile? You can generate a new profile for this Twitter user, but the data may have since changed."} %>
    <% end %>
  </div>
</section>
<section class="profile-right">
  <div class="user-stats">
    <div class="counts">
      <div class="user-stat">
        <div class="icon">
          <i class="far fa-comments"></i> Total Tweets Analyzed
        </div>
        <div class="stat analysis">
          <%= number_with_delimiter(@personality_profile.total_tweets_analyzed, :delimiter => ',') %>
        </div>
      </div>
      <div class="user-stat">
        <div class="icon">
          <i class="far fa-calendar-alt"></i> Date of Newest Tweet
        </div>
        <div class="stat analysis">
          <%= format_date(@personality_profile.newest_tweet_analyzed_date) %>
        </div>
      </div>
      <div class="user-stat">
        <div class="icon">
          <i class="far fa-calendar-alt"></i> Date of Oldest Tweet
        </div>
        <div class="stat analysis">
          <%= format_date(@personality_profile.oldest_tweet_analyzed_date) %>
        </div>
      </div>
    </div>
  </div>
  <% if @personality_profile.warning_message %>
  <section class="profile-alert">
    <div class="warning-message">
      <%= @personality_profile.warning_message %>
    </div>
  </section>
  <% end %>
  <% if @personality_profile.valid? %>
  <section class="personality-profile">
    <div class="profile-header">
      Dimensions of Personality
    </div>
    <% @personality_profile.dimensions.each do | dimension | %>
    <div class="profile-section">
      <div class="trait">
        <div class="trait-name">
          <%= dimension.name %>
        </div>
        <div class="trait-percentile" percentile="#">
          Percentile: <%= number_to_percentage(dimension.percentile * 100, precision: 0) %>
        </div>
      </div>
      <div class="trait-section-flex">
      <% dimension.facets.each do | facet | %>
      <div class="facet">
        <div class="facet-name">
          <%= facet.name %>
        </div>
        <div class="facet-percentile">
          Percentile: <%= number_to_percentage(facet.percentile * 100, precision: 0) %>
        </div>
      </div>
      <% end %>
      </div>
    </div>
    <% end %>
    <div class="profile-header">
      Needs
    </div>
    <div class="profile-section">
      <div class="trait-section-flex">
        <% @personality_profile.needs.each do | need | %>
        <div class="trait">
          <div class="trait-name">
            <%= need.name %>
          </div>
          <div class="trait-percentile">
            Percentile: <%= number_to_percentage(need.percentile * 100, precision: 0) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="profile-header">
      Values
    </div>
    <div class="profile-section">
      <div class="trait-section-flex">
        <% @personality_profile.values.each do | value | %>
        <div class="trait">
          <div class="trait-name">
            <%= value.name %>
          </div>
          <div class="trait-percentile">
            Percentile: <%= number_to_percentage(value.percentile * 100, precision: 0) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  <% else %>
  <section class="profile-alert">
    <div class="error-message">
      Unable to retrieve user profile. <%= @personality_profile.error_message %>.
    </div>
  </section>
  <% end %>
</section>
