<main>
  <section class="user-info section" fill-color="#8F8F8F">
    <ul class="user">
      <li class="avatar"> <%= image_tag(@profile.avatar_url, class: "avatar") %> </li>
      <li class="name">  <%= @profile.name %> </li>
      <li class="login"> @<%= @profile.username %> </li>
      <li class="description lightweight-small"> <%= @profile.description %> </li>
      <% if @profile.location %>
        <div class="additional-user-info top-border">
          <% if @profile.location %>
            <li class="location lightweight-small"> <i class="fas fa-map-marker-alt"></i> </i><%= @profile.location %> </li>
          <% end %>
        </div>
      <% end %>
    </ul>
  </section>
  <section class="profile-right">
    <section class="saved-profiles">
      <h4>Saved Personality Profiles:</h4>
      <% if @saved_profiles.empty? %>
        <div class="message">
          You currently have 0 personality profiles saved.
        </div>
        <% else %>
        <% @saved_profiles.each do | profile | %>
        <div class="profile">
          <div class="names">
            Username: <%= profile.personality_profile.username %>
          </div>
          <div class-"other">
            Generated On: <%= profile.personality_profile.created_at %>
          </div>
        </div>
        <% end %>
      <% end %>
    </section>
  </section>
<main>
