<%= render partial: 'layouts/twitter_user_basic_info' %>
</section>
<section class="profile-right">
  <section class="user-stats">
    <section class="counts">
      <div class="user-stat">
        <div class="icon">
          <i class="far fa-comments"></i> Total Tweets
        </div>
        <div class="stat">
          <%= number_with_delimiter(@twitter_profile.tweet_count, :delimiter => ',') %>
        </div>
      </div>
      <div class="user-stat">
        <div class="icon">
          <i class="far fa-user"></i> Followers
        </div>
        <div class="stat">
          <%= number_with_delimiter(@twitter_profile.followers_count, :delimiter => ',') %>
        </div>
      </div>
      <div class="user-stat">
        <div class="icon">
          <i class="far fa-user"></i> Friends
        </div>
        <div class="stat">
          <%= number_with_delimiter(@twitter_profile.following_count, :delimiter => ',') %>
        </div>
      </div>
    </section>
    <section class="last-tweet">
      <div class="icon">
        <i class="far fa-comment"></i> Last Tweet • <%= @twitter_profile.last_tweet_date %>
      </div>
      <div class="tweet-text">
        <%= @twitter_profile.last_tweet %>
      </div>
    </section>
  </section>
  <section class="profile-buttons">
    <%= link_to "Generate Personality Profile", "/#{@twitter_profile.username}/personality-profile", class: "btn" %>
    <%= link_to "Search for a Different User", "/search", class: "btn" %>
  </section>
</section>
