<main>
  <section class="user-info section" fill-color="#8F8F8F">
    <ul class="user">
      <li class="avatar"> <%= image_tag(@personality_profile.subject_avatar, class: "avatar") %> </li>
      <li class="name">  <%= @personality_profile.subject_name %> </li>
      <li class="login"> @<%= @personality_profile.subject_username %> </li>
      <li class="description lightweight-small"> <%= @personality_profile.subject_description %> </li>
      <% if @personality_profile.subject_location %>
        <div class="additional-user-info top-border">
          <li class="location lightweight-small"> <i class="fas fa-map-marker-alt"></i> </i><%= @personality_profile.subject_location %> </li>
        </div>
      <% end %>
    </ul>
  </section>
  <section class="profile-right">
    <div class="user-stats">
      <div class="counts">
        <div class="user-stat">
          <div class="icon">
            <i class="far fa-comments"></i> Total Tweets Analyzed
          </div>
          <div class="stat analysis">
            <%= number_with_delimiter(@personality_profile.total_tweets_analyzed, :delimiter => ',') %>
          </div>
        </div>
        <div class="user-stat">
          <div class="icon">
            <i class="far fa-calendar-alt"></i> Date of Newest Tweet
          </div>
          <div class="stat analysis">
            <%= @personality_profile.newest_tweet_analyzed %>
          </div>
        </div>
        <div class="user-stat">
          <div class="icon">
            <i class="far fa-calendar-alt"></i> Date of Oldest Tweet
          </div>
          <div class="stat analysis">
            <%= @personality_profile.oldest_tweet_analyzed %>
          </div>
        </div>
      </div>
    </div>
    <section class="personality-profile">
      <div class="profile-header">
        Dimensions of Personality
      </div>
      <% @personality_profile.dimensions.each do | dimension | %>
      <div class="profile-section">
        <div class="trait">
          <div class="trait-name">
            <%= dimension.name %>
          </div>
          <div class="trait-percentile" percentile="#">
            Percentile: <%= number_to_percentage(dimension.percentile * 100, precision: 0) %>
          </div>
        </div>
        <div class="trait-section-flex">
        <% dimension.facets.each do | facet | %>
        <div class="facet">
          <div class="facet-name">
            <%= facet.name %>
          </div>
          <div class="facet-percentile">
            Percentile: <%= number_to_percentage(facet.percentile * 100, precision: 0) %>
          </div>
        </div>
        <% end %>
        </div>
      </div>
      <% end %>
      <div class="profile-header">
        Needs
      </div>
      <div class="profile-section">
        <div class="trait-section-flex">
          <% @personality_profile.needs.each do | need | %>
          <div class="trait">
            <div class="trait-name">
              <%= need.name %>
            </div>
            <div class="trait-percentile">
              Percentile: <%= number_to_percentage(need.percentile * 100, precision: 0) %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="profile-header">
        Values
      </div>
      <div class="profile-section">
        <div class="trait-section-flex">
          <% @personality_profile.values.each do | value | %>
          <div class="trait">
            <div class="trait-name">
              <%= value.name %>
            </div>
            <div class="trait-percentile">
              Percentile: <%= number_to_percentage(value.percentile * 100, precision: 0) %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </section>
  </section>
<main>
