<!DOCTYPE html>
<html>
  <head>
    <title>Keeper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <div class="section hero-section" logo-color="white" link-color="white" fill-color="rgb(68,68,68,.4)">
      <div class="hero-text">
        <div class="text">
          <p>Ensure your next hire is the perfect complement to your team.</p>
          <p><%= link_to "Learn More", '#learn-more', class: "landing-btn" %></p>
        </div>
      </div>
    </div>
    <div class="section learn-more" id="learn-more" logo-color="black" link-color="black" fill-color="white">
      <div class="learn-more-instruction">
        <i class="fas fa-search"></i>
        <h3>SEARCH</h3>
        <p>Search for Twitter users by full name or username, and see a brief overview of the user's publically available profile information, including bio, location and last Tweet.</p>
      </div>
      <div class="learn-more-divider">
        <i class="far fa-circle"></i>
      </div>
      <div class="learn-more-instruction">
        <i class="far fa-file-alt"></i>
        <h3>GENERATE</h3>
        <p>Generate a detailed Personality Profile for the user based on their Twitter timeline. Text data (excluding re-Tweets and replies) is passed to IBM's Personal Insights service, which makes meaningful and scientifically-based inferences about the individuals personality. The output is a report of how the individual ranks on a percentile-basis according to over 50 characteristics and facets of personality.</div>
      <div class="learn-more-divider">
        <i class="far fa-circle"></i>
      </div>
      <div class="learn-more-instruction">
        <i class="far fa-save"></i>
        <h3>SAVE</h3>
        <p>Save Personality Profile results to your personalized dashboard so that you can return to them throughout your hiring process. </p>
      </div>
    </div>
    <footer class="footer-distributed">
      <div class="footer-left">
        <h3><%= image_tag 'logo.png' %>Keeper</h3>
        <p class="footer-links">
          <a href="#">Pricing</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Faq</a>
          ·
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">Keeper &copy; 2018</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Tambon Ban Luang</span><span>Amphoe Chom Thong, Chiang Mai 50270</span></p>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <p>+1 123 581 3213</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@findakeeper.heroku.com</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
          They have to do what’s right for them. Because it’s their time. Their time...up there! Down here, it’s our time. It’s our time down here. That’s all over the second we ride up Troy’s bucket.
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
