<section class="user-info section" fill-color="#8F8F8F">
  <ul class="user">
    <li class="avatar"> <%= image_tag(@twitter_profile.avatar_url, class: "avatar") %> </li>
    <li class="name">  <%= @twitter_profile.name %> </li>
    <li class="login"> @<%= @twitter_profile.username %> </li>
    <li class="description lightweight-small"> <%= @twitter_profile.description %> </li>
    <% if @twitter_profile.location %>
      <div class="additional-user-info top-border">
        <li class="location lightweight-small"> <i class="fas fa-map-marker-alt"></i> </i><%= @twitter_profile.location %> </li>
      </div>
    <% end %>
  </ul>
