
  <div class="personality-profile-buttons">
    <%= link_to "Save Profile and Return to Dashboard", saved_profiles_path(personality_profile_id: @personality_profile.id), method: :post, class: "btn personality-profile-btn" %>
    <%= link_to "Search for a Different User", "/search", class: "btn personality-profile-btn" %>
  </div>
</section>
<section class="profile-right">
  <div class="user-stats">
    <div class="counts">
      <div class="user-stat">
        <div class="icon">
          <i class="far fa-comments"></i> Total Tweets Analyzed
        </div>
        <div class="stat analysis">
          <%= number_with_delimiter(@personality_profile.total_tweets_analyzed, :delimiter => ',') %>
        </div>
      </div>
      <div class="user-stat">
        <div class="icon">
          <i class="far fa-calendar-alt"></i> Date of Newest Tweet
        </div>
        <div class="stat analysis">
          <%= format_date(@personality_profile.newest_tweet_analyzed_date) %>
        </div>
      </div>
      <div class="user-stat">
        <div class="icon">
          <i class="far fa-calendar-alt"></i> Date of Oldest Tweet
        </div>
        <div class="stat analysis">
          <%= format_date(@personality_profile.oldest_tweet_analyzed_date) %>
        </div>
      </div>
    </div>
  </div>
  <% if @personality_profile.warning_message %>
  <section class="profile-alert">
    <div class="warning-message">
      <%= @personality_profile.warning_message %>
    </div>
  </section>
  <% end %>
  <section class="personality-profile">
    <div class="profile-header">
      Dimensions of Personality
    </div>
    <% @personality_profile.dimensions.each do | dimension | %>
    <div class="profile-section">
      <div class="trait dimension">
        <div class="trait-name">
          <%= dimension.name %>
        </div>
        <div class="trait-percentile" percentile="#">
          Percentile: <%= number_to_percentage(dimension.percentile * 100, precision: 0) %>
        </div>
      </div>
      <div class="trait-section-flex">
        <% dimension.facets.each do | facet | %>
        <div class="facet">
          <div class="facet-name">
            <%= facet.name %>
          </div>
          <div class="facet-percentile">
            Percentile: <%= number_to_percentage(facet.percentile * 100, precision: 0) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="profile-header">
      Needs
    </div>
    <div class="profile-section">
      <div class="trait-section-flex">
        <% @personality_profile.needs.each do | need | %>
        <div class="trait">
          <div class="trait-name">
            <%= need.name %>
          </div>
          <div class="trait-percentile">
            Percentile: <%= number_to_percentage(need.percentile * 100, precision: 0) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="profile-header">
      Values
    </div>
    <div class="profile-section">
      <div class="trait-section-flex">
        <% @personality_profile.values.each do | value | %>
        <div class="trait">
          <div class="trait-name">
            <%= value.name %>
          </div>
          <div class="trait-percentile">
            Percentile: <%= number_to_percentage(value.percentile * 100, precision: 0) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
</section>
